.vscode
__pycache__
out_bbox
out_rgb
out_rgb_bbox
out_lidar_img
data

.idea/boundingboxes.iml

.idea/inspectionProfiles/

.idea/misc.xml

.idea/modules.xml

.idea/other.xml

.idea/vcs.xml

.idea/workspace.xml
